language = "rust"

# The command that is executed when the run button is clicked.
run = "cd rust_to_do_list ; cargo run -- test test tester2"

# The default file opened in the editor.
entrypoint = "rust_to_do_list/src/main.rs"

# Per language configuration: language.<lang name>
[languages.rust]
# The glob pattern to match files for this programming language
pattern = "**/*.rs"

# LSP configuration for code intelligence
[languages.rust.languageServer]
start = ["rust-analyzer"]